* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: auto;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}
.first {
  max-width: 31vw;
  margin-top: 6rem;
}
p {
  font-size: larger;
  font-weight: 400;
  margin-bottom: 2rem;
}
img .star {
  max-width: 14vw;
}
img {
  max-width: 4vw;

  gap: 5rem;
}
span {
  padding: 3px;
  display: inline-flex;
  gap: 0.5rem;
}

.box .second img .star {
  max-width: 14vw;
}
.second {
  position: relative;
  top: 5rem;
  width: 428px;
}
h2 {
  font-size: 18px;
  font-weight: 650;
}
li {
  padding: 3px;
}
.third {
  position: relative;
  right: -10rem;
  bottom: 6rem;
}
